/* All Common CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Inter", serif;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* All Common CSS End */


/* Header Part Start */
.navbar {
    /* background: teal;
    padding: 20px 0; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;

    /* padding is not applicable here, coz parent div has already used it */
    margin: 0 15px;
}

.nav-link:hover {
    color: #4756DF;
}

.contactBtn {
    padding: 15px 42px;
    background: #6A4DF4;
    border-radius: 10px;

    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

/* Header Part End */

/* Banner Part Start */
#bannerPart {
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerOverlay {
    background: rgba(0, 0, 0, 0.62);
    padding-top: 330px;
    padding-bottom: 175px;
}

.bannerContent h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 60px;
}

.bannerContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 216px;
    margin-bottom: 40px;
}

.bannerContent a {
    font-size: 20px;
    font-weight: 600;
    color: #ffff;

    border-radius: 10px;
    background: #6A4DF4;
    padding: 15px 42px;
}

/* Banner Part End */


/* Counter Part Start */
#counterPart {
    padding-top: 165px;
    padding-bottom: 80px;
}

.counterBg {
    background: #E0FFF9;
    border-radius: 20px;
    padding: 85px 0;
}

.counterItemLeft {
    padding-left: 20px;

}

.counterItemLeft h4 {
    color: #6A4DF4;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 25px;
}

.counterItemLeft h3 {
    color: #151515;
    font-size: 35px;
    font-weight: 600;
    padding-right: 135px;
    line-height: 37px;
}

.counterItemRight {
    padding-top: 10px;
}

.counterItemRight h3 {
    color: #151515;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 35px;
}

.counterItemRight p {
    color: #737373;
    font-size: 20px;
    font-weight: 500;
}

/* Counter Part End */


/* Service Part Start */
#servicePart {
    padding: 100px 0;
}

.serviceHead {
    margin-bottom: 55px;
}

.serviceHead h3 {
    color: #151515;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 35px;
}

.serviceHead p {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.serviceItem {
    padding: 45px;
    transition: .4s;
}

.serviceItemText h3 {
    color: #151515;
    font-size: 25px;
    font-weight: 700;
    padding-top: 45px;
    padding-bottom: 35px;
}

.serviceItemText p {
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.serviceItem:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);    
    border-radius: 20px;
}

/* Service Part End */


/* Work Part Start */
#workPart{
    padding-top: 155px;
    padding-bottom: 150px;
    background: #F3F3F3;
}
.workPartHead h3{
    color: #151515;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 35px;
}
.workPartHead p{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 113px;
}
.workItem{
    background: #FFFFFF;
    border-radius: 20px;
}
.workItem img{
    width: 100%;
}
.workItemText{
    padding: 35px 48px;
}
.workItemText h4{
    padding-bottom: 15px;
    color: #151515;
    font-size: 20px;
    font-weight: 700;
}
.workItemText p{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Work Part End */

/* Agenc Part Start */
#agencPart{
    padding-top: 158px;
    padding-bottom: 110px;
}
.agencHead{}
.agencHead h3{
    color: #151515;
    font-size: 45px;
    font-weight: 700;
    
    line-height: 50px;
    padding: 0 174px;
    margin-bottom: 25px;
}
.agencHead p{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    padding: 0 25px;
    margin-bottom: 130px;
}
.agencItem{}
.agencItem h3{
    color: #151515;
    font-size: 25px;
    font-weight: 700;
    padding: 22px 0;
}
.agencItem p{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 73px;
}
/* Cmb = Customised margin bottom */
.agencItemCmb{
    margin-bottom: 88px;

}

/* Agenc Part End */

/* Review Part Start */
#reviewPart{
    padding-bottom: 230px;
}
/* Review Part End */



/* Header Part Start */
/* Header Part End */